html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
	background:#163091;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;

/*	background: url(../images/headerlogo.jpg) no-repeat top center;	*/
	min-width:1000px;
}
a {
	color:#121b6c;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}

#flash {
	margin:0 auto;
    /*left:-129px;*/
	background:none;
}
#body {
	min-width:1000px;
	background:url(../images/footer.jpg) no-repeat bottom;
}
#wrapper {
/*    position:relative;*/
	/*width: 1001px;*/
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.topbanerpanel{
	margin:0 auto;
/*	position:absolute;*/
/*	left:-129px;*/
	top:480px;
	background:url(../images/topbanerpanel.png) no-repeat;
	width:1259px;
	height:77px;
	padding-left:107px;
	padding-top:7px;
	}
.topbanerpanel img{
	padding-left:35px;
}



/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 480px;
	position:relative;

}

.top_put {
	position:absolute;
	/*bottom:7px;*/
	color:#FFF;
	font-family:Tahoma, Geneva, sans-serif;
	padding-left:129px;
}

.top_put a{
	color:#FFF;
	text-decoration:none;
}
/* Middle
-----------------------------------------------------------------------------*/
.topcenter {
	width:1001px;
	background:url(../images/topcenter.png) no-repeat;
	height:19px;
}
#middle {
	margin-top:30px;
	width: 100%;
	padding: 0 0 30px 129px;
	height: 1%;
	background:#e9f3ff;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0px;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 5px 0 265px;
}

#content h2 img{padding-top:15px;}
#content p{
	font-size:14px;
	line-height:18px;
		font-family:Tahoma, Geneva, sans-serif;
}

#content strong{
	color:#001b72;
}
.videolist{
	overflow: hidden;
}

.videolist li{
	padding-left:15px;
	display:block;
	float:left;
	list-style:none;
	height:100px;
	width:120px;
	text-align:center;
	}


.rec_forum{}
.rec_forum li{
	font-size:15px;
	list-style-type:decimal;
	list-style-position:inside;
	padding-top:5px;
	font-family:Tahoma, Geneva, sans-serif;
}
.rec_forum li a{color:#001b72; text-decoration:underline;}



.listshkoli{}
.listshkoli strong{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
}
.listshkoli li {
	padding-top:10px;
	margin-bottom:-10px;
}
 #content a {
	font-family:Tahoma, Geneva, sans-serif;

}

.listshkoli span {
	padding-left:10px;
color:#121b6c;
}

.clear{
	clear:both;
}
h3{
	font-size:20px;
	color:#121b6c;
	padding:10px 0;
}

.aright{
	float:right;
	margin-right:5px;
	z-index:10;
	position:relative;
	
	
}

* html .aright{margin-top:-15px;}

.aleft{
	float:left;
	margin-left:5px;
}
.shchoolcont{
	overflow:hidden;
	padding-bottom:20px;
	display:inline;
}
.shchoolcont .left {
	margin-left:10px;
	width:190px;
	float:left;
}


.shchoolcont .right {
	margin-left:25px;
	width:485px;
	float:left;
	padding-right:10px;

}

.sort{
	
	height:23px;
	width:700px;
	margin:10px 10px;
	border-radius:5px 5px 0  0px;
	-moz-border-radius:5px 5px 0  0px;
	-webkit-border-radius:5px 5px 0  0px;
	-o-border-radius:5px 5px 0  0px;
	background:#d9deff;
	border:1px solid #121b6c;
}



.sort li{
	list-style:none;
	display:inline;
	padding-left:100px;
}
.padding {
	padding-left:5px;
	font-size:16px;
}
	
.youtube{ 
width:650px;
margin:0 auto;
}
.youtube strong{
	font-size:16px;
}
.comment{
	margin-top:10px;
	width:100%;
	height:140px;
	border-top:1px solid #072276;
	border-bottom:1px solid #072276;
}


/* profile
-----------------------------------------------------------------------------*/
.avatar{
	width:250px;
	padding-top:20px;
	padding-left:10px;
}
.avatar .right{
	float:right;
}
.avatar .left{
	float:left;
}

.profileinfo{
	padding:20px 0 0 10px;
	
}
.profileinfo li{
	font-family:Tahoma, Geneva, sans-serif;
	width:300px;
	position:relative;
}
.profileinfo .cash{
	width:700px;
	font-weight:bold;
}
.profileinfo .cash q{
	background:#FFF;
	width:62px;
	height:32px;
	padding:5px;
	font-size:15px;
}
.profileinfo .medal{
	height:40px;
	padding-bottom:10px;

	}
.profileinfo .podarok{
	height:40px;
	}


.proftoppanel{
	width:700px;
	height:23px;
		border-radius:5px 5px 0  0px;
	-moz-border-radius:5px 5px 0  0px;
	-webkit-border-radius:5px 5px 0  0px;
	-o-border-radius:5px 5px 0  0px;
	background:#d9deff;
	border:1px solid #121b6c;
	padding-left:20px;
}
.proftoppanel li{ 
list-style:none;
float:left;
display:inline;
width:170px;
color:#121b6c;
}
.profbotpanel{
	width:700px;
	
}
.profbotpanel li{
	float:left;
	display:inline;
	width:150px;
	padding-left:20px;
color:#000000;
}


.calendar{
	margin-left:7px;
	}

.calenmenu{
	width:730px;
	min-width:730px;
}
.calenmenu li {
	list-style:none;
	display:inline;
	
	}
	
	.calenmenu li a{
		text-decoration:none;
		position:relative;
		z-index:1000;
	height:30px;
	
	background:#fcf8c4;
	border:1px solid #121b6c;
	padding:0px 15px 0 15px;
	margin-left:-5px;
		border-radius:5px 0px 0  0px;
	-moz-border-radius:5px 0px 0  0px;
	-webkit-border-radius:5px 0px 0  0px;
	-o-border-radius:5px 0px 0  0px;
		
	}
	
.calenmenu li a:hover{

	color:#FFF;
	background:#121b6c;
}


.caltable{
	border:1px solid #000;
	font-family:Tahoma, Geneva, sans-serif;
	margin-top:-2px;
}

.caltable tr{
border-bottom:1px solid #000;
}



.caltable td {
	border-right:1px solid #000;
	padding:2px 0 2px 5px;
}
/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 260px;
	margin-left: -100%;
	position: relative;
	padding-bottom:20px;
}


.auth {
	margin-left:7px;
	width:250px;
	height:170px;
	background:url(../images/authbg.jpg) no-repeat;
	padding:50px 0 0 60px;
	
}

.auth input{
	color:#999;}
.auth a{color:#faef8b;
text-decoration:none;}
.auth .button{
	position:relative;
	margin-top:-15px;
	margin-left:15px;
}

.sidemenu{
	display:block;
	position:relative;
	margin-top:-60px;
	}
	.sidemenu li{
		list-style-type:none;
		display:block;
		margin-top:-7px;
	}
	.sidemenu li a{
		text-decoration:none;
		}
		
	.sidebanner{
	display:block;
	position:relative;
	padding-left:10px;
	padding-bottom:5px;

	}
	.sidebanner li{
		list-style-type:none;
		display:block;
	}
	.sidebanner li a{
		text-decoration:none;
		}	
		
	/* Footer
-----------------------------------------------------------------------------*/
#footer {
	
	width: 1001px;
	margin: -30px auto 0;
	height: 30px;
	padding-bottom:80px;
	padding-left:10px;
	position:relative;

}
.counter{
	float:left;
	padding-left:15px;
}
.copy{float:left;
padding-left:25px;
padding-top:10px;}
.palma {
	width:29px;
	height:123px;
	position:absolute;
	background:url(../images/palma.jpg) no-repeat;
	right:5px;
	bottom:92px;
	z-index:1;
}

